body {
  padding: 0;
  margin: 0;
}

#logo {
  position: absolute;
  left: 95%;
}

#introtext {
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(169, 166, 166);
}

h1 {
  font: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

#box_needs {
  position: absolute;
  top: 35%;
  width: 96%;
  padding: 2%;
  padding-block-end: 4%;
  background-color: #181819;
}

#popup {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  padding: 2%;
  padding-block-end: 4%;
  background-color: rgb(80, 80, 80, 155);
  z-index: 1;
  font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  box-shadow: 5px 10px;
}

#textbox {
  width: 96%;
  height: 70px;
  padding-inline-start: 2%;
  padding-inline-end: 2%;
  display: block;
  border: 0;
  background: #fff;
  font-size: 24px;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  /* border-radius: 3px; */

  
}

#submitbutton {
  position: absolute;
  right: 2%;
  width: 20%;
  padding: 0.5%;
  border: none;
  border-style: none;
  background-color: #fff;
  color: rgb(43, 50, 50, 155);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  transition-duration: 0.4s;
}

#submitbutton:hover {
  background-color: red;
  color: white;
}

#nationtext {
  position: absolute;
 background-color: rgba(255, 255, 255, 0.85);
  left: 65%;
  top: 70%;
  right: 2%;
  padding: 2%;
  padding-block-end: 4%;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  /* color:  #555; */
  color: rgb(43, 50, 50, 155);
  font-weight: bold;
  text-align: center;  
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  box-shadow: 5px 10px;  
}

#background {
  background-image: url("background_img.jpg"); /* image source: https://www.behance.net/gallery/14698223/Folded-paper-textures-volumes-I-and-II */
  position: absolute;
  margin: none;
  border: none;
}